In [79]:
import numpy as np
import pandas as pd

In [5]:
Y2023_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2023_c20230516.csv')
Y2023_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2023_c20230516.csv')

In [6]:
Y2023_Fat_df

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,202302,19,0,48457,1072788,D,02/19/2023 00:00:00,24.0,M,In Water,202302
1,202302,19,0,48459,1072794,D,02/19/2023 00:00:00,48.0,M,In Water,202302
2,202302,25,0,48468,1072857,D,02/25/2023 00:00:00,20.0,M,In Water,202302
3,202302,19,0,48490,1073760,D,02/19/2023 00:00:00,70.0,M,In Water,202302
4,202302,16,0,48745,1074584,D,02/16/2023 00:00:00,0.0,M,Vehicle/Towed Trailer,202302
...,...,...,...,...,...,...,...,...,...,...,...
78,202301,12,0,48678,1079341,I,01/12/2023 00:00:00,NaN,NaN,Other,202301
79,202301,12,0,48677,1079341,D,01/12/2023 00:00:00,NaN,NaN,Vehicle/Towed Trailer,202301
80,202301,12,0,48680,1079342,I,01/12/2023 00:00:00,NaN,NaN,Other,202301
81,202301,12,0,48679,1079342,D,01/12/2023 00:00:00,NaN,NaN,Vehicle/Towed Trailer,202301
82,202301,14,0,48702,1080453,D,01/14/2023 00:00:00,73.0,F,Under Tree,202301

In [7]:
Y2023_Merged_df = pd.merge(Y2023_Fat_df,Y2023_details_df, on= 'EVENT_ID')

In [8]:
Y2023_Merged_df.head()

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202302,19,0,48457,1072788,D,02/19/2023 00:00:00,24.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong rip currents resulted in the deaths of ...,The Indialantic Police Department relayed a re...,CSV
1,202302,19,0,48459,1072794,D,02/19/2023 00:00:00,48.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong rip currents resulted in the deaths of ...,News media reported the drowning of a 48-year-...,CSV
2,202302,25,0,48468,1072857,D,02/25/2023 00:00:00,20.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple swimmers were in distress near the Re...,Multiple swimmers were in distress near the Re...,CSV
3,202302,19,0,48490,1073760,D,02/19/2023 00:00:00,70.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The combination of a small northerly swell and...,A 70-year-old male was swept away by rip curre...,CSV
4,202302,16,0,48745,1074584,D,02/16/2023 00:00:00,0.0,M,Vehicle/Towed Trailer,...,1.0,E,LONG BRANCH,37.9142,-81.2703,37.9173,-81.2503,A stationary front located near West Virginia ...,Continuous rounds of rain led to prolonged flo...,CSV

In [9]:
Y2023_Merged_df

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202302,19,0,48457,1072788,D,02/19/2023 00:00:00,24.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong rip currents resulted in the deaths of ...,The Indialantic Police Department relayed a re...,CSV
1,202302,19,0,48459,1072794,D,02/19/2023 00:00:00,48.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong rip currents resulted in the deaths of ...,News media reported the drowning of a 48-year-...,CSV
2,202302,25,0,48468,1072857,D,02/25/2023 00:00:00,20.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple swimmers were in distress near the Re...,Multiple swimmers were in distress near the Re...,CSV
3,202302,19,0,48490,1073760,D,02/19/2023 00:00:00,70.0,M,In Water,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The combination of a small northerly swell and...,A 70-year-old male was swept away by rip curre...,CSV
4,202302,16,0,48745,1074584,D,02/16/2023 00:00:00,0.0,M,Vehicle/Towed Trailer,...,1.0,E,LONG BRANCH,37.9142,-81.2703,37.9173,-81.2503,A stationary front located near West Virginia ...,Continuous rounds of rain led to prolonged flo...,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,202301,12,0,48678,1079341,I,01/12/2023 00:00:00,NaN,NaN,Other,...,4.0,S,JERUSALEM,33.2300,-84.2000,33.4600,-83.7300,A line of strong thunderstorms moved into nort...,"Radar data, areal surveys and ground surveys c...",CSV
79,202301,12,0,48677,1079341,D,01/12/2023 00:00:00,NaN,NaN,Vehicle/Towed Trailer,...,4.0,S,JERUSALEM,33.2300,-84.2000,33.4600,-83.7300,A line of strong thunderstorms moved into nort...,"Radar data, areal surveys and ground surveys c...",CSV
80,202301,12,0,48680,1079342,I,01/12/2023 00:00:00,NaN,NaN,Other,...,4.0,SW,BROUGHTON,33.2300,-84.2000,33.4600,-83.7300,A line of strong thunderstorms moved into nort...,"Radar data, areal surveys and ground surveys c...",CSV
81,202301,12,0,48679,1079342,D,01/12/2023 00:00:00,NaN,NaN,Vehicle/Towed Trailer,...,4.0,SW,BROUGHTON,33.2300,-84.2000,33.4600,-83.7300,A line of strong thunderstorms moved into nort...,"Radar data, areal surveys and ground surveys c...",CSV
82,202301,14,0,48702,1080453,D,01/14/2023 00:00:00,73.0,F,Under Tree,...,2.0,SSW,CRISSY AAF,37.7700,-122.4900,37.7700,-122.4900,An atmospheric river contributed to flooding c...,A jogger near the intersection of JFK Drive an...,CSV

In [10]:
Y2023_Merged_df.to_csv("Y2023_Fat&Details_df.csv")

In [11]:
Y2013_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2013_c20230118.csv')
Y2013_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2013_c20230118.csv')

In [12]:
Y2013_Merged_df = pd.merge(Y2013_Fat_df,Y2013_details_df, on= 'EVENT_ID')

In [13]:
Y2013_Merged_df.to_csv("Y2013_Fat&Details_df.csv")

In [14]:
Y2014_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2014_c20230330.csv')
Y2014_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2014_c20230330.csv')

In [15]:
Y2014_Merged_df = pd.merge(Y2014_Fat_df,Y2014_details_df, on= 'EVENT_ID')

In [16]:
Y2014_Merged_df.to_csv("Y2014_Fat&Details_df.csv")

In [17]:
Y2015_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2015_c20220425.csv')
Y2015_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2015_c20220425.csv')

In [18]:
Y2015_Merged_df = pd.merge(Y2015_Fat_df,Y2015_details_df, on= 'EVENT_ID')

In [19]:
Y2015_Merged_df.to_csv("Y2015_Fat&Details_df.csv")

In [20]:
Y2016_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2016_c20220719.csv')
Y2016_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2016_c20220719.csv')

In [21]:
Y2016_Merged_df = pd.merge(Y2016_Fat_df,Y2016_details_df, on= 'EVENT_ID')

In [22]:
Y2016_Merged_df.to_csv("Y2016_Fat&Details_df.csv")

In [23]:
Y2017_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2017_c20230317.csv')
Y2017_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2017_c20230317.csv')

In [24]:
Y2017_Merged_df = pd.merge(Y2017_Fat_df,Y2017_details_df, on= 'EVENT_ID')

In [25]:
Y2017_Merged_df.to_csv("Y2017_Fat&Details_df.csv")

In [26]:
Y2018_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2018_c20230118.csv')
Y2018_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2018_c20230118.csv')

In [27]:
Y2018_Merged_df = pd.merge(Y2018_Fat_df,Y2018_details_df, on= 'EVENT_ID')

In [28]:
Y2018_Merged_df.to_csv("Y2018_Fat&Details_df.csv")

In [29]:
Y2019_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2019_c20230118.csv')
Y2019_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2019_c20230118.csv')

In [30]:
Y2019_Merged_df = pd.merge(Y2019_Fat_df,Y2019_details_df, on= 'EVENT_ID')

In [31]:
Y2019_Merged_df.to_csv("Y2019_Fat&Details_df.csv")

In [32]:
Y2020_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2020_c20230417.csv')
Y2020_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2020_c20230417.csv')

In [33]:
Y2020_Merged_df = pd.merge(Y2020_Fat_df,Y2020_details_df, on= 'EVENT_ID')

In [34]:
Y2020_Merged_df.to_csv("Y2020_Fat&Details_df.csv")

In [35]:
Y2021_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2021_c20230516.csv')
Y2021_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2021_c20230516.csv')

In [36]:
Y2021_Merged_df = pd.merge(Y2021_Fat_df,Y2021_details_df, on= 'EVENT_ID')

In [37]:
Y2021_Merged_df.to_csv("Y2021_Fat&Details_df.csv")

In [38]:
Y2022_Fat_df = pd.read_csv('StormEvents_fatalities-ftp_v1.0_d2022_c20230516.csv')
Y2022_details_df = pd.read_csv('StormEvents_details-ftp_v1.0_d2022_c20230516.csv')

In [39]:
Y2022_Merged_df = pd.merge(Y2022_Fat_df,Y2022_details_df, on= 'EVENT_ID')

In [40]:
Y2022_Merged_df.to_csv("Y2022_Fat&Details_df.csv")

In [41]:
All_frames = [Y2013_Merged_df, Y2014_Merged_df, Y2015_Merged_df, Y2016_Merged_df, Y2017_Merged_df, Y2018_Merged_df, Y2019_Merged_df, Y2020_Merged_df, Y2021_Merged_df, Y2022_Merged_df, Y2023_Merged_df]

In [42]:
All_years_df = pd.concat(All_frames)

In [43]:
All_years_df.to_csv("All_years_df.csv")

In [4]:
All_data = pd.read_csv('All_years.csv')

In [5]:
for cols in All_data.columns:
    Percent_Missing = All_data[cols].isnull().mean()*100
    print('{} - {}%'.format(cols, round(Percent_Missing)))

FAT_YEARMONTH - 0%
FAT_DAY - 0%
FATALITY_ID - 0%
EVENT_ID - 0%
FATALITY_TYPE - 0%
FATALITY_AGE - 0%
FATALITY_SEX - 0%
FATALITY_LOCATION - 0%
BEGIN_TIME - 0%
END_DAY - 0%
END_TIME - 0%
EPISODE_ID - 0%
STATE - 0%
YEAR - 0%
MONTH_NAME - 0%
EVENT_TYPE - 0%
CZ_TYPE - 0%
CZ_FIPS - 0%
CZ_NAME - 0%
WFO - 0%
BEGIN_DATE_TIME - 0%
CZ_TIMEZONE - 0%
END_DATE_TIME - 0%
INJURIES_DIRECT - 0%
INJURIES_INDIRECT - 0%
DEATHS_DIRECT - 0%
DEATHS_INDIRECT - 0%
DAMAGE_PROPERTY - 0%
DAMAGE_CROPS - 0%
SOURCE - 0%

In [79]:
columns_to_drop = ['MAGNITUDE', 'MAGNITUDE_TYPE','FLOOD_CAUSE']
All_dropped = All_data.drop(columns=columns_to_drop)

In [80]:
All_dropped

,FAT_YEARMONTH,FAT_DAY,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,BEGIN_TIME,END_DAY,...,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE
0,201301,24,19791,421108,I,NaN,NaN,Vehicle/Towed Trailer,700,1,...,1/1/2013 7:00,CST-6,1/1/2013 15:00,0,0,0,1,NaN,NaN,ASOS
1,201301,27,19574,421872,D,28.0,F,Outside/Open Areas,1525,27,...,1/27/2013 15:25,MST-7,1/27/2013 15:25,0,0,1,0,0.00K,0.00K,Newspaper
2,201301,27,19575,421873,D,30.0,M,Outside/Open Areas,1700,27,...,1/27/2013 17:00,MST-7,1/27/2013 17:00,0,0,1,0,0.00K,0.00K,Newspaper
3,201301,13,19577,422507,I,42.0,M,Vehicle/Towed Trailer,1100,13,...,1/13/2013 11:00,CST-6,1/13/2013 15:00,0,0,0,1,0.00K,0.00K,Trained Spotter
4,201301,19,19578,422671,D,60.0,M,In Water,1245,19,...,1/19/2013 12:45,EST-5,1/19/2013 12:55,0,0,1,0,0.00K,0.00K,Newspaper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,202301,12,48678,1079341,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8114,202301,12,48677,1079341,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8115,202301,12,48680,1079342,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8116,202301,12,48679,1079342,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8117,202301,14,48702,1080453,D,73.0,F,Under Tree,1700,14,...,1/14/2023 17:00,PST-8,1/14/2023 17:00,0,0,1,0,0.00K,0.00K,Newspaper

In [81]:
def get_dtype_columns(df, type_):
    if type_ == 'numeric':
        return df.select_dtypes(include=[np.number]).columns.values
    else:
        return df.select_dtypes(exclude=[np.number]).columns.values

In [82]:
numeric_columns = get_dtype_columns(All_dropped, 'numeric')
numeric_columns

array(['FAT_YEARMONTH', 'FAT_DAY', 'FATALITY_ID', 'EVENT_ID',
       'FATALITY_AGE', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'EPISODE_ID',
       'YEAR', 'CZ_FIPS', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
       'DEATHS_DIRECT', 'DEATHS_INDIRECT'], dtype=object)

In [83]:
non_numeric_cols = get_dtype_columns(All_dropped, 'non-numeric')
non_numeric_cols

array(['FATALITY_TYPE', 'FATALITY_SEX', 'FATALITY_LOCATION', 'STATE',
       'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_NAME', 'WFO',
       'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE'], dtype=object)

In [64]:
All_dropped

,FAT_YEARMONTH,FAT_DAY,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,BEGIN_TIME,END_DAY,...,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE
0,201301,24,19791,421108,I,NaN,NaN,Vehicle/Towed Trailer,700,1,...,1/1/2013 7:00,CST-6,1/1/2013 15:00,0,0,0,1,NaN,NaN,ASOS
1,201301,27,19574,421872,D,28.0,F,Outside/Open Areas,1525,27,...,1/27/2013 15:25,MST-7,1/27/2013 15:25,0,0,1,0,0.00K,0.00K,Newspaper
2,201301,27,19575,421873,D,30.0,M,Outside/Open Areas,1700,27,...,1/27/2013 17:00,MST-7,1/27/2013 17:00,0,0,1,0,0.00K,0.00K,Newspaper
3,201301,13,19577,422507,I,42.0,M,Vehicle/Towed Trailer,1100,13,...,1/13/2013 11:00,CST-6,1/13/2013 15:00,0,0,0,1,0.00K,0.00K,Trained Spotter
4,201301,19,19578,422671,D,60.0,M,In Water,1245,19,...,1/19/2013 12:45,EST-5,1/19/2013 12:55,0,0,1,0,0.00K,0.00K,Newspaper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,202301,12,48678,1079341,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8114,202301,12,48677,1079341,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8115,202301,12,48680,1079342,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8116,202301,12,48679,1079342,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,NaN,NaN,NWS Storm Survey
8117,202301,14,48702,1080453,D,73.0,F,Under Tree,1700,14,...,1/14/2023 17:00,PST-8,1/14/2023 17:00,0,0,1,0,0.00K,0.00K,Newspaper

In [65]:
for cols in All_dropped.columns:
    Percent_Missing = All_dropped[cols].isnull().mean()*100
    print('{} - {}%'.format(cols, round(Percent_Missing)))

FAT_YEARMONTH - 0%
FAT_DAY - 0%
FATALITY_ID - 0%
EVENT_ID - 0%
FATALITY_TYPE - 0%
FATALITY_AGE - 27%
FATALITY_SEX - 21%
FATALITY_LOCATION - 0%
BEGIN_TIME - 0%
END_DAY - 0%
END_TIME - 0%
EPISODE_ID - 0%
STATE - 0%
YEAR - 0%
MONTH_NAME - 0%
EVENT_TYPE - 0%
CZ_TYPE - 0%
CZ_FIPS - 0%
CZ_NAME - 0%
WFO - 0%
BEGIN_DATE_TIME - 0%
CZ_TIMEZONE - 0%
END_DATE_TIME - 0%
INJURIES_DIRECT - 0%
INJURIES_INDIRECT - 0%
DEATHS_DIRECT - 0%
DEATHS_INDIRECT - 0%
DAMAGE_PROPERTY - 9%
DAMAGE_CROPS - 9%
SOURCE - 0%

In [84]:
for col in get_dtype_columns(All_dropped, 'numeric'):
    All_dropped[col] = All_dropped[col].fillna(0)
for col in get_dtype_columns(All_dropped, 'non-numeric'):
    All_dropped[col] = All_dropped[col].fillna('_MISSING_')

In [75]:
for cols in All_dropped.columns:
    Percent_Missing = All_dropped[cols].isnull().mean()*100
    print('{} - {}%'.format(cols, round(Percent_Missing)))

FAT_YEARMONTH - 0%
FAT_DAY - 0%
FATALITY_ID - 0%
EVENT_ID - 0%
FATALITY_TYPE - 0%
FATALITY_AGE - 0%
FATALITY_SEX - 0%
FATALITY_LOCATION - 0%
BEGIN_TIME - 0%
END_DAY - 0%
END_TIME - 0%
EPISODE_ID - 0%
STATE - 0%
YEAR - 0%
MONTH_NAME - 0%
EVENT_TYPE - 0%
CZ_TYPE - 0%
CZ_FIPS - 0%
CZ_NAME - 0%
WFO - 0%
BEGIN_DATE_TIME - 0%
CZ_TIMEZONE - 0%
END_DATE_TIME - 0%
INJURIES_DIRECT - 0%
INJURIES_INDIRECT - 0%
DEATHS_DIRECT - 0%
DEATHS_INDIRECT - 0%
DAMAGE_PROPERTY - 0%
DAMAGE_CROPS - 0%
SOURCE - 0%

In [85]:
All_dropped

,FAT_YEARMONTH,FAT_DAY,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,BEGIN_TIME,END_DAY,...,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE
0,201301,24,19791,421108,I,0.0,_MISSING_,Vehicle/Towed Trailer,700,1,...,1/1/2013 7:00,CST-6,1/1/2013 15:00,0,0,0,1,_MISSING_,_MISSING_,ASOS
1,201301,27,19574,421872,D,28.0,F,Outside/Open Areas,1525,27,...,1/27/2013 15:25,MST-7,1/27/2013 15:25,0,0,1,0,0.00K,0.00K,Newspaper
2,201301,27,19575,421873,D,30.0,M,Outside/Open Areas,1700,27,...,1/27/2013 17:00,MST-7,1/27/2013 17:00,0,0,1,0,0.00K,0.00K,Newspaper
3,201301,13,19577,422507,I,42.0,M,Vehicle/Towed Trailer,1100,13,...,1/13/2013 11:00,CST-6,1/13/2013 15:00,0,0,0,1,0.00K,0.00K,Trained Spotter
4,201301,19,19578,422671,D,60.0,M,In Water,1245,19,...,1/19/2013 12:45,EST-5,1/19/2013 12:55,0,0,1,0,0.00K,0.00K,Newspaper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,202301,12,48678,1079341,I,0.0,_MISSING_,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,_MISSING_,_MISSING_,NWS Storm Survey
8114,202301,12,48677,1079341,D,0.0,_MISSING_,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,_MISSING_,_MISSING_,NWS Storm Survey
8115,202301,12,48680,1079342,I,0.0,_MISSING_,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,_MISSING_,_MISSING_,NWS Storm Survey
8116,202301,12,48679,1079342,D,0.0,_MISSING_,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,_MISSING_,_MISSING_,NWS Storm Survey
8117,202301,14,48702,1080453,D,73.0,F,Under Tree,1700,14,...,1/14/2023 17:00,PST-8,1/14/2023 17:00,0,0,1,0,0.00K,0.00K,Newspaper

In [86]:
All_dropped.to_csv("All_Dropped.csv")

In [137]:
All_Drop_df = pd.read_csv('All_Dropped.csv')

In [138]:
All_Drop_df

,Unnamed: 0,FAT_YEARMONTH,FAT_DAY,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,BEGIN_TIME,...,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE
0,0,201301,24,19791,421108,I,0,0,Vehicle/Towed Trailer,700,...,1/1/2013 7:00,CST-6,1/1/2013 15:00,0,0,0,1,0.0,0,ASOS
1,1,201301,27,19574,421872,D,28,F,Outside/Open Areas,1525,...,1/27/2013 15:25,MST-7,1/27/2013 15:25,0,0,1,0,0.0,0,Newspaper
2,2,201301,27,19575,421873,D,30,M,Outside/Open Areas,1700,...,1/27/2013 17:00,MST-7,1/27/2013 17:00,0,0,1,0,0.0,0,Newspaper
3,3,201301,13,19577,422507,I,42,M,Vehicle/Towed Trailer,1100,...,1/13/2013 11:00,CST-6,1/13/2013 15:00,0,0,0,1,0.0,0,Trained Spotter
4,4,201301,19,19578,422671,D,60,M,In Water,1245,...,1/19/2013 12:45,EST-5,1/19/2013 12:55,0,0,1,0,0.0,0,Newspaper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,8113,202301,12,48678,1079341,I,0,0,Other,1627,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0.0,0,NWS Storm Survey
8114,8114,202301,12,48677,1079341,D,0,0,Vehicle/Towed Trailer,1627,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0.0,0,NWS Storm Survey
8115,8115,202301,12,48680,1079342,I,0,0,Other,1627,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0.0,0,NWS Storm Survey
8116,8116,202301,12,48679,1079342,D,0,0,Vehicle/Towed Trailer,1627,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0.0,0,NWS Storm Survey
8117,8117,202301,14,48702,1080453,D,73,F,Under Tree,1700,...,1/14/2023 17:00,PST-8,1/14/2023 17:00,0,0,1,0,0.0,0,Newspaper

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [44]:
# Define features and target variables
numeric_features = [
    'FAT_YEARMONTH', 'FAT_DAY', 'FATALITY_ID', 'EVENT_ID', 'BEGIN_TIME',
    'END_DAY', 'END_TIME', 'EPISODE_ID', 'YEAR'
]

In [45]:
categorical_features = [
    'EVENT_TYPE', 'FATALITY_TYPE', 'FATALITY_SEX', 'FATALITY_LOCATION',
    'STATE', 'MONTH_NAME', 'CZ_TYPE', 'CZ_NAME', 'WFO', 'CZ_TIMEZONE',
    'SOURCE'
]

In [46]:
target_variables = [
    'FATALITY_AGE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
    'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS'
]

### Fill in the mising values for Fatality_Age using deep machine learning

In [80]:
All_years_df2 = pd.read_csv('All_years.csv')
All_years_df2

,FAT_YEARMONTH,FAT_DAY,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,BEGIN_TIME,END_DAY,...,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE
0,201301,24,19791,421108,I,NaN,NaN,Vehicle/Towed Trailer,700,1,...,1/1/2013 7:00,CST-6,1/1/2013 15:00,0,0,0,1,0,0,ASOS
1,201301,27,19574,421872,D,28.0,F,Outside/Open Areas,1525,27,...,1/27/2013 15:25,MST-7,1/27/2013 15:25,0,0,1,0,0,0,Newspaper
2,201301,27,19575,421873,D,30.0,M,Outside/Open Areas,1700,27,...,1/27/2013 17:00,MST-7,1/27/2013 17:00,0,0,1,0,0,0,Newspaper
3,201301,13,19577,422507,I,42.0,M,Vehicle/Towed Trailer,1100,13,...,1/13/2013 11:00,CST-6,1/13/2013 15:00,0,0,0,1,0,0,Trained Spotter
4,201301,19,19578,422671,D,60.0,M,In Water,1245,19,...,1/19/2013 12:45,EST-5,1/19/2013 12:55,0,0,1,0,0,0,Newspaper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,202301,12,48678,1079341,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0,0,NWS Storm Survey
8114,202301,12,48677,1079341,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0,0,NWS Storm Survey
8115,202301,12,48680,1079342,I,NaN,NaN,Other,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0,0,NWS Storm Survey
8116,202301,12,48679,1079342,D,NaN,NaN,Vehicle/Towed Trailer,1627,12,...,1/12/2023 16:27,EST-5,1/12/2023 17:01,10,0,1,1,0,0,NWS Storm Survey
8117,202301,14,48702,1080453,D,73.0,F,Under Tree,1700,14,...,1/14/2023 17:00,PST-8,1/14/2023 17:00,0,0,1,0,0,0,Newspaper

In [81]:
# One-hot encode categorical features
All_years_hot = pd.get_dummies(All_years_df2, columns=categorical_features, drop_first=True)

In [82]:
# Split the Fatality_Age dataset into two subsets
train_set = All_years_hot.dropna(subset=['FATALITY_AGE'])
prediction_set = All_years_hot[All_years_hot['FATALITY_AGE'].isnull()]

In [63]:
# Split the Fatality_Age training dataset into training and testing sets

In [83]:
# split data to predict missing values
X_train1 = train_set[numeric_features + list(All_years_hot.columns[All_years_hot.columns.str.startswith('EVENT_TYPE_')])]
y_train1= train_set['FATALITY_AGE']

In [84]:
# Train the model for the Fatality_Age  missing values
model = LinearRegression()
model.fit(X_train1, y_train1)

LinearRegression()

In [85]:
# Predict fatality_Age missing values in the prediction set
X_prediction = prediction_set[numeric_features + list(All_years_hot.columns[All_years_hot.columns.str.startswith('EVENT_TYPE_')])]
predicted_values = model.predict(X_prediction)

In [86]:
# Fill in fatality_Age missing values in the original dataframe
All_years_hot.loc[All_years_hot['FATALITY_AGE'].isnull(), 'FATALITY_AGE'] = predicted_values

In [87]:
All_years_hot.to_csv("All_years_filled.csv")

In [52]:
X = All_years_hot[numeric_features + list(All_years_hot.columns[All_years_hot.columns.str.startswith('EVENT_TYPE_')])]
y = All_years_hot[target_variables]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
# Initialize and fit a Linear Regression model
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

ValueError: Input y contains NaN.

In [147]:
# Initialize and fit a Random Forest Regression model
rf_reg_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_reg_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [148]:
# Predict on the test set
linear_reg_predictions = linear_reg_model.predict(X_test)
rf_reg_predictions = rf_reg_model.predict(X_test)

In [149]:
# Evaluate the models
for i, target_var in enumerate(target_variables):
    print(f"Regression results for {target_var}:")
    print("Linear Regression:")
    print(f"  Mean Squared Error: {mean_squared_error(y_test.iloc[:, i], linear_reg_predictions[:, i])}")
    print(f"  R-squared: {r2_score(y_test.iloc[:, i], linear_reg_predictions[:, i])}")
    print("Random Forest Regression:")
    print(f"  Mean Squared Error: {mean_squared_error(y_test.iloc[:, i], rf_reg_predictions[:, i])}")
    print(f"  R-squared: {r2_score(y_test.iloc[:, i], rf_reg_predictions[:, i])}")
    print("\n")

Regression results for FATALITY_AGE:
Linear Regression:
  Mean Squared Error: 614.6389508619648
  R-squared: 0.21800522726122418
Random Forest Regression:
  Mean Squared Error: 479.96102800912615
  R-squared: 0.3893536774799088


Regression results for INJURIES_DIRECT:
Linear Regression:
  Mean Squared Error: 849.9617568289038
  R-squared: 0.27814081563591386
Random Forest Regression:
  Mean Squared Error: 40.03235904865368
  R-squared: 0.9660011455587778


Regression results for INJURIES_INDIRECT:
Linear Regression:
  Mean Squared Error: 88.83493724775457
  R-squared: 0.011503094794936164
Random Forest Regression:
  Mean Squared Error: 83.19288018761793
  R-squared: 0.07428420452185736


Regression results for DEATHS_DIRECT:
Linear Regression:
  Mean Squared Error: 174.64552253649651
  R-squared: 0.30944276175343477
Random Forest Regression:
  Mean Squared Error: 1.8713150099420706
  R-squared: 0.9926007257077839


Regression results for DEATHS_INDIRECT:
Linear Regression:
  Mean Squared Error: 4.06508568262704
  R-squared: 0.2202161951506204
Random Forest Regression:
  Mean Squared Error: 0.2633235418922122
  R-squared: 0.9494880429505664


Regression results for DAMAGE_PROPERTY:
Linear Regression:
  Mean Squared Error: 7.504289811063698e+25
  R-squared: 0.04703273511440553
Random Forest Regression:
  Mean Squared Error: 5.563130006917919e+25
  R-squared: 0.2935399724195771


Regression results for DAMAGE_CROPS:
Linear Regression:
  Mean Squared Error: 230515875141681.78
  R-squared: 0.0658217371442088
Random Forest Regression:
  Mean Squared Error: 122206889939054.06
  R-squared: 0.5047498568933421